<div nz-row>
  <div nz-col [nzSpan]="16" class="left">
    <div class="image-overlay"></div>
    <img src="./../../../assets/spoker.gif" alt="gif" class="gif" />
  </div>
  <div nz-col [nzSpan]="8" class="right">
    <div class="title-container">
      <div class="title">Scrum Poker</div>
    </div>
    <div class="form-container">
      <router-outlet></router-outlet>
    </div>

    <div class="copy-right">
      <i nz-icon nzType="copyright" nzTheme="outline"></i>
      <span> RAJI Ayoub </span>
    </div>
  </div>
</div>
